
/* CSS Document */
html{background:#fff;}
body{font-size:14px;background-color:#fff;color: #333;font-family:'Microsoft YaHei','微软雅黑',SimSun,'宋体','Lucida Grande', Tahoma,Arial, Helvetica, sans-serif;min-width:1200px;margin:0 auto;}
html,body,address,blockquote,div,dl,form,h1,h2,h3,h4,h5,h6,ol,p,pre,table,ul,dd,dl,dt,li,tbody,td,tfoot,th,thead,tr,button,del,ins,map,object,a,abbr,acronym,b,bdo,big,br,cite,code,dfn,em,i,img,kbd,q,samp,small,span,strong,sub,sup,tt,var,legend,fieldset{margin:0px;padding:0px;font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
fieldset,img{border:0;}
img,object{max-width:100%;height:auto;width:auto\9;/* for ie8 */-ms-interpolation-mode: bicubic;}
a{outline:none;blr:expression(this.onFocus=this.blur());text-decoration:none;color: #333;}
a:hover{color: #b1040e;text-decoration: none;}
input[type='button']{outline:none;border:0 none;background-color:transparent;cursor:pointer;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400;}
/*定义清除浮动样式 方法一*/
.clearfix:after{content:'\20';display:block;height:0;clear:both; visibility:hidden;}
.clearfix{zoom:1;}
/*定义清除浮动样式 方法二*/
.clear{clear:both;}
/*font-size */
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.f16px{font-size:16px;}
.f18px{font-size:18px;}
.f20px{font-size:20px;}
.f22px{font-size: 22px;}
.f24px{font-size:24px;}
.f48px{font-size:48px;}
/*float */
.fl{float:left;}
.fr{float:right;}
ul,ol,li{list-style:none outside none;}
.tc{text-align:center !important;}
.tl{text-align:left  !important;}
.tr{text-align:right  !important;}
.fwn{font-weight:normal;}
.fwb{font-weight:bold;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';content:none;}
input,textarea,select{font-weight:inherit;font-size:100%;}
input,select,textarea,button {vertical-align:middle}
.pa{position:absolute;}
.pr{position:relative;}
.inblock{display:inline-block;*zoom:1;*display:inline;}
.disnone{display:none;}
.block{ display:block;}
.hidden{ overflow:hidden !important;}
.none{ display:none;}
.textoverflow{ white-space:nowrap; overflow:hidden;text-overflow: ellipsis;}
.underline:hover{text-decoration:underline;}
.mtc{margin:0 auto;}
.number{ }
.fw600{font-weight: 600;}
.hand{cursor: pointer;}
.distable{display: table;}
.distr{display:table-row;}
.distd{display:table-cell;}


/*基础样式*/
/*头部*/
.header{ width:100%; height:160px; margin:0 auto;position: relative;
    z-index: 999999; }
.top{width:1200px; height:120px; margin:0 auto;position: relative;}
.top_weixinList{position: relative;}
.top_weixinList .top_weixin{position: absolute;top:22px;left:-19px;z-index:999999999;width: 100px;height:100px;display: none;}
.logo{ width:100%;height:52px;margin:0 auto;position:relative;padding:22px 0;}
.logo_link1{width:343px;height:52px; float:left;}
.logo_link2{width:239px;height:26px; float:left; margin-left:16px;margin-top:53px;}
.top_right{position: absolute;top:15px;right:0;}
.top_right li{float:left;background: url(https://bjcs.cnu.edu.cn/images/top_right_li.png) no-repeat center right;padding:0 15px;}
.top_right li a{color:#333333;}
.top_right li.Nopadding{padding-right:0;background: none;}
.top_right li a:hover{color:#b1040e;}
.search{width:250px; height:32px;position:absolute;right:44%; margin-right:-515px;top:51px;z-index:1000; }
.search input{position:absolute; width:250px;height:32px;line-height:32px; color:#939393; border:none; background:#b1040e; left:0px; top:0px;  padding:0px; margin:0px;}
.search input.notxt{color:#fff; padding-left:12px;font-family: "微软雅黑";}	
.search input.notxt1 {position:absolute;width:38px;height:32px;left:228px;background:url(../images/search_031.png) no-repeat left center; }
.nav{ width:100%;  height:40px; line-height:40px;background: #b1040e; }
.nav ul{ width:1200px;margin:0px auto;}
.nav ul li{float:left;position:relative;}
.nav ul li a{display: block; text-align:center;font-size:16px;padding:0px 24px;  text-align:center;color: #fff;font-weight: bold;height:40px;line-height: 40px;}
.nav ul li a:hover{background: #8b020a;}
.nav ul li .subNav {line-height:30px; font-size:14px;display:none; position:absolute; left:0; top:40px; text-align:center; z-index:99999999;background-color:#b1040e; }
.nav ul li .subNav dl dd{padding:0px 0px;}
.nav ul li.on .subNav { display:block;}
.nav ul li.on .subNav dl{overflow:hidden;}
.nav ul li.on .subNav dl dd a{ color:#fff; font-size:14px; line-height:20px; padding:5px 10px; border-top:none; text-align:center; font-weight:normal; height:auto;font-family:'Microsoft YaHei'; }
.nav ul li.on .subNav dl dd a:hover{ font-weight:bolder;}


/*二级页基础样式*/

.page{ width:100%; height:30px; line-height:30px; text-align:center; margin:0 auto;font-size:12px;clear:both;}
.page a{ padding:0 5px;}

.fujian {padding:0px; overflow:hidden; }
.fujian h3 { font-size: 16px;line-height: 30px; color:#004a00; padding-left:5px;}
.fujian ul li { height: 26px; line-height: 26px; padding-left: 28px;}
.fujian ul li a { font-size: 12px; line-height: 24px; color:#656464;}
.fujian ul li a:hover{ color:#004a00;}


/*flexslider start*/
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus  {outline: none;}
.slides,.flex-control-nav,.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} 
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}

.flexslider {background: #fff; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

.flex-direction-nav {*height: 0;}
.flex-direction-nav a { text-decoration:none; display: block; width: 28px; height: 48px;position: absolute; margin-top: -20px; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8);  background:url(https://bjcs.cnu.edu.cn/images/arr.png) no-repeat; text-indent:-999em; }
.flex-direction-nav .flex-prev { left: -30px; background-position:0 0; }
.flex-direction-nav .flex-next { right: -30px; background-position:-132px 0;}
.flexslider:hover .flex-prev { opacity: 0.7; left: 20px;}
.flexslider:hover .flex-next { opacity: 0.7; right:20px;}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); }

.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; background:#ddd;}
.flex-pauseplay a:before { font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

.flex-control-nav {width: auto; position: absolute; bottom: 18px; /**bottom:45px;*/ text-align: center; z-index: 1000;right:50px;}
.flex-control-nav li {margin: 0 4px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height:11px; display: block;background:url(../images/slide_point.png) no-repeat center;cursor: pointer; text-indent: -9999px; /*border-radius: 6px;*/ }
.flex-control-paging li a:hover { background:url(../images/slide_point_hover.png) no-repeat center;}
.flex-control-paging li a.flex-active { background:url(../images/slide_point_hover.png) no-repeat center;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; }
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; }
/*flexslider end*/
