html {
	background: rgb(255, 255, 255);
}
body {
	color: rgb(50, 50, 50); font-family: "Microsoft YaHei","微软雅黑",SimSun,"宋体","Lucida Grande", Tahoma,Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(245, 245, 245);
}
html {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
body {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
address {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
blockquote {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
div {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
dl {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
form {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
h1 {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
h2 {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
h3 {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
h4 {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
h5 {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
h6 {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
ol {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
p {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
pre {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
ul {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
dd {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
dl {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
dt {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
li {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
tbody {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
td {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
tfoot {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
th {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
thead {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
tr {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
button {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
del {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
ins {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
map {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
object {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
a {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
abbr {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
acronym {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
b {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
bdo {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
big {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
br {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
cite {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
code {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
dfn {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
em {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
i {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
img {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
kbd {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
q {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
samp {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
small {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
span {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
strong {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
sub {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
sup {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
tt {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
var {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
legend {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
fieldset {
	margin: 0px; padding: 0px; font-size: 100%; -webkit-font-smoothing: subpixel-antialiased;
}
table {
	width: 100%; border-collapse: collapse; border-spacing: 0;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
img {
	width: auto; height: auto; -ms-interpolation-mode: bicubic; max-width: 100%;
}
object {
	width: auto; height: auto; -ms-interpolation-mode: bicubic; max-width: 100%;
}
a {
	color: rgb(50, 50, 50); text-decoration: none;
}
a:hover {
	color: rgb(50, 50, 50); text-decoration: none;
}
input[type='button'] {
	border: 0px currentColor; cursor: pointer; background-color: transparent;
}
address {
	font-style: normal; font-weight: 400;
}
caption {
	font-style: normal; font-weight: 400;
}
cite {
	font-style: normal; font-weight: 400;
}
code {
	font-style: normal; font-weight: 400;
}
dfn {
	font-style: normal; font-weight: 400;
}
em {
	font-style: normal; font-weight: 400;
}
th {
	font-style: normal; font-weight: 400;
}
var {
	font-style: normal; font-weight: 400;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: "\20";
}
.clearfix {
	zoom: 1;
}
.clear {
	clear: both;
}
.f12px {
	font-size: 12px;
}
.f14px {
	font-size: 14px;
}
.f16px {
	font-size: 16px;
}
.f18px {
	font-size: 18px;
}
.f20px {
	font-size: 20px;
}
.f22px {
	font-size: 22px;
}
.f24px {
	font-size: 24px;
}
.f48px {
	font-size: 48px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
li {
	list-style: none;
}
.tc {
	text-align: center !important;
}
.tl {
	text-align: left !important;
}
.tr {
	text-align: right !important;
}
.fwn {
	font-weight: normal;
}
.fwb {
	font-weight: bold;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
input {
	font-size: 100%; font-weight: inherit;
}
textarea {
	font-size: 100%; font-weight: inherit;
}
select {
	font-size: 100%; font-weight: inherit;
}
input {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
textarea {
	vertical-align: middle;
}
button {
	vertical-align: middle;
}
.pa {
	position: absolute;
}
.pr {
	position: relative;
}
.inblock {
	display: inline-block;
}
.disnone {
	display: none;
}
.block {
	display: block;
}
.hidden {
	overflow: hidden !important;
}
.none {
	display: none;
}
.textoverflow {
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.underline:hover {
	text-decoration: underline;
}
.mtc {
	margin: 0px auto;
}
.number {
	
}
.fw600 {
	font-weight: 600;
}
.hand {
	cursor: pointer;
}
.distable {
	display: table;
}
.distr {
	display: table-row;
}
.distd {
	display: table-cell;
}
.header {
	margin: 0px; padding: 0px; width: 100%; height: auto; position: relative; z-index: 200;
}
.search {
	width: 219px; height: 29px;
}
.search input {
	width: 178px; height: 29px; line-height: 29px; position: absolute;
}
.search input.notxt {
	color: rgb(63, 63, 60); padding-left: 12px;
}
.search input.notxt1 {
	background: none; border: currentColor; left: 0px; top: 0px; width: 28px; height: 29px; position: absolute; cursor: pointer;
}
.logo {
	
}
.nav {
	height: 41px; z-index: 888;
}
.nav ul {
	margin: 0px auto; width: 1000px;
}
.nav ul li {
	padding: 0px; float: left; position: relative;
}
.nav ul li a {
	text-align: center; font-size: 14px;
}
.nav ul li a:hover {
	font-weight: bold;
}
.nav ul li .subNav {
	left: 0px; top: 41px; width: 150px; text-align: center; line-height: 38px; font-size: 14px; display: none; position: absolute; z-index: 9999; background-color: rgb(255, 255, 255);
}
.nav ul li.on {
	
}
.nav ul li.on a {
	font-weight: bold;
}
.nav ul li.on .subNav {
	display: block;
}
.nav ul li.on .subNav dl {
	overflow: hidden;
}
.nav ul li.on .subNav dl dd {
	height: 30px; text-align: left; line-height: 30px;
}
.nav ul li.on .subNav dl dd a {
	height: auto; text-align: center; line-height: 20px; padding-left: 28px; font-family: "Microsoft YaHei"; font-size: 14px; font-weight: normal; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.nav ul li.on .subNav dl dd a:hover {
	font-weight: bolder;
}
.content {
	position: relative; z-index: 1;
}
.Banner {
	
}
.row {
	
}
.menu {
	
}
.subMenu {
	
}
.mode {
	
}
.col {
	
}
.date {
	
}
.time {
	
}
.more {
	float: right;
}
.scroll {
	
}
.tab {
	
}
.list {
	
}
.title {
	
}
.service {
	
}
.hot {
	
}
.news {
	
}
.download {
	
}
.regsiter {
	
}
.status {
	
}
.btn {
	
}
.vote {
	
}
.partner {
	
}
.friendLink {
	
}
.footer {
	position: relative;
}
.copyRight {
	
}
.Bread {
	width: 1000px; height: 39px; color: rgb(51, 51, 51); line-height: 39px; font-size: 12px; margin-top: 5px;
}
.Bread a {
	color: rgb(51, 51, 51);
}
.page {
	margin: 0px auto; width: 100%; height: 30px; text-align: center; line-height: 30px; clear: both; font-size: 12px;
}
.page a {
	padding: 0px 5px;
}
.fujian {
	padding: 0px; overflow: hidden;
}
.fujian h3 {
	color: rgb(0, 74, 0); line-height: 30px; padding-left: 5px; font-size: 16px;
}
.fujian ul li {
	height: 26px; line-height: 26px; padding-left: 28px;
}
.fujian ul li a {
	color: rgb(101, 100, 100); line-height: 24px; font-size: 12px;
}
.fujian ul li a:hover {
	color: rgb(0, 74, 0);
}
.articleList {
	
}
.listTitle {
	height: auto;
}
.listTitle h2 {
	line-height: 33px; padding-left: 14px; font-weight: bold;
}
.articleList ul li {
	height: 30px; line-height: 30px; padding-left: 10px;
}
.articleList ul li span {
	float: right;
}
.articlePicture {
	
}
.articTitle {
	height: 33px; line-height: 33px;
}
.articTitle h2 {
	line-height: 33px; padding-left: 14px; font-weight: bold;
}
.articlePicture .Article {
	line-height: 28px;
}
.articlePicture .Article img {
	float: left;
}
.flex-container a:active {
	
}
.flexslider a:active {
	
}
.flex-container a:focus {
	
}
.flexslider a:focus {
	
}
.slides {
	list-style: none; margin: 0px; padding: 0px;
}
.flex-control-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.flex-direction-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.flexslider {
	margin: 0px; padding: 0px;
}
.flexslider .slides > li {
	display: none; -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%; display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.slides::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: "\0020";
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
.no-js .slides > li:first-child {
	display: block;
}
.flexslider {
	background: rgb(255, 255, 255); float: left; position: relative; zoom: 1;
}
.flex-viewport {
	max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px;
}
.flex-direction-nav {
	
}
.flex-direction-nav a {
	background: url("https://std.cnu.edu.cn/images/arr.png") no-repeat; top: 50%; width: 28px; height: 48px; color: rgba(0, 0, 0, 0.8); text-indent: -999em; overflow: hidden; text-decoration: none; margin-top: -20px; display: block; position: absolute; z-index: 10; cursor: pointer; opacity: 0;
}
.flex-direction-nav .flex-prev {
	background-position: 0px 0px; left: -30px;
}
.flex-direction-nav .flex-next {
	background-position: -132px 0px; right: -30px;
}
.flexslider:hover .flex-prev {
	left: 20px; opacity: 0.7;
}
.flexslider:hover .flex-next {
	right: 20px; opacity: 0.7;
}
.flexslider:hover .flex-next:hover {
	opacity: 1;
}
.flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	filter: alpha(opacity=0); opacity: 0 !important;
}
.flex-pauseplay a {
	background: rgb(221, 221, 221); left: 10px; width: 20px; height: 20px; bottom: 5px; color: rgb(0, 0, 0); overflow: hidden; display: block; position: absolute; z-index: 10; cursor: pointer; opacity: 0.8;
}
.flex-pauseplay a::before {
	font-size: 20px; display: inline-block; content: "\f004";
}
.flex-pauseplay a:hover {
	opacity: 1;
}
.flex-pauseplay a.flex-play::before {
	content: "\f003";
}
.flex-control-nav {
	width: 100%; text-align: center; bottom: 10px; position: absolute; z-index: 1000;
}
.flex-control-nav li {
	margin: 0px 8px; display: inline-block; zoom: 1;
}
.flex-control-paging li a {
	background: rgb(255, 255, 255); border-radius: 6px; width: 12px; height: 12px; text-indent: -9999px; display: block; cursor: pointer;
}
.flex-control-paging li a:hover {
	background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
	background: rgba(0, 0, 0, 0.9);
}
.flex-control-thumbs {
	margin: 5px 0px 0px; overflow: hidden; position: static;
}
.flex-control-thumbs li {
	margin: 0px; width: 25%; float: left;
}
.flex-control-thumbs img {
	width: 100%; display: block; opacity: 0.7;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
}
.tabArticleList .tabListTitle {
	overflow: hidden;
}
.tabArticleList .tab_menu {
	width: 100%;
}
.tabArticleList .tab_menu h3 {
	height: 30px; line-height: 30px; float: left;
}
.tabArticleList .tab_menu h3 a {
	text-align: center; color: rgb(32, 32, 32); font-family: "微软雅黑"; font-size: 14px; display: block;
}
.tabArticleList .tab_menu h3:hover {
	height: 30px; line-height: 30px; float: left;
}
.tabArticleList .tab_menu h3.on {
	height: 30px; line-height: 30px; float: left;
}
.tabArticleList .tab_menu h3:hover a {
	text-align: center; color: rgb(29, 134, 0); font-family: "微软雅黑"; font-size: 14px; display: block;
}
.tabArticleList .tab_menu h3.on a {
	text-align: center; color: rgb(29, 134, 0); font-family: "微软雅黑"; font-size: 14px; display: block;
}
.tabArticleList .more_tab {
	display: none;
}
.tabArticleList .tabListTitle .more {
	float: right;
}
.tabArticleList .tabListTitle .more a {
	font-size: 12px;
}
.tabArticleList .tabList {
	width: 100%;
}
.tabArticleList .tabListBox {
	display: none;
}
.tabArticleList .tabListBox ul {
	
}
.tabArticleList .tabListBox ul li {
	height: 30px; line-height: 30px; padding-left: 0px;
}
.tabArticleList .tabListBox ul li span {
	color: rgb(177, 163, 154); font-size: 12px; font-weight: normal; float: right;
}
