
/* CSS Document */
.banner{ width:100%; overflow: hidden; position: relative; background: #f1f1f1;}
.rslides { position: relative; overflow: hidden; width: 100%; padding: 0; margin: 0; }
.rslides li {  -webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0; }
.rslides li:first-child { position: relative; display: block; float: left; }
.rslides .img { display: block; height: auto; float: left; width: 100%; border: 0; }
.slide_container { position: relative;  overflow:hidden; max-width: 1100px; margin: 0 auto;}
.slide { position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; }
.slide li { position: absolute; width: 100%; left: 0; top: 0; }
.slide .img { display: block; position: relative; z-index: 1; height: auto; width: 100%; border: 0; }
.slide_nav { position: absolute; top: 45%; left: 10px; opacity: 0.7; z-index: 3; text-indent: -9999px; overflow: hidden; height: 50px; width: 30px; background:url(https://lxxqjcxb.cnu.edu.cn/images/lf.png) no-repeat left top; margin-top: -22px; }
.slide_nav:active { opacity: 1.0; }
.slide_nav.next { left: auto;background:url(https://lxxqjcxb.cnu.edu.cn/images/rt.png) no-repeat left top; right: 10px; }
.slide_tabs{position:absolute;left:46%;bottom:14px;z-index:999; width: 100%; text-align: center;}
.slide_tabs li{width:10px;height:10px;border-radius:5px;margin:0 6px;background-color:#fff;float:left;color:#fff;}
.slide_tabs li a{color:#fff;display:block;text-indent:-999em;}
.slide_tabs li.slide_here{width:10px;height:10px;border-radius:5px;margin-left:19px;background-color:#012f6f;float:left;color:#012f6f;}








/*flexslider start*/
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus  {outline: none;}
.slides,.flex-control-nav,.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}

.flexslider {background: #fff; position: relative; zoom: 1;  max-width: 1440px; margin: 0 auto; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

.flex-direction-nav {*height: 0;}
.flex-direction-nav a { text-decoration:none; display: block; width: 28px; height: 48px;position: absolute; margin-top: -20px; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8);  background:url(https://lxxqjcxb.cnu.edu.cn/images/arr.png) no-repeat; text-indent:-999em; }
.flex-direction-nav .flex-prev { left: -30px; background-position:0 0; }
.flex-direction-nav .flex-next { right: -30px; background-position:-132px 0;}
.flexslider:hover .flex-prev { opacity: 0.7; left: 20px;}
.flexslider:hover .flex-next { opacity: 0.7; right:20px;}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); }

.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; background:#ddd;}
.flex-pauseplay a:before { font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center; z-index: 1000;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 10px; height: 10px; display: block; background: #fff;cursor: pointer; text-indent: -9999px; border-radius: 6px; }
.flex-control-paging li a:hover { background: #012f6f; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #012f6f; background: rgba(0,0,0,0.9); }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; }
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; }
/*flexslider end*/









.content{width:100%;overflow:hidden;}
.mode01{max-width:1100px;margin:0 auto 30px;overflow:hidden;}
/*新闻*/
.news{width:67.5%;overflow:hidden;float:left;}

.title01 .more01{float:right; padding:0 6px 0 0; height: 40px; line-height: 40px; display:block;font-size:1.2em;}
.title01 .more01 a{display:block;}
.newsInfo{width:100%;overflow:hidden;}
.news_pic{width:342px; float:left;}
.news_list { margin: 0 0 0 380px; }
.news_wrap a{display:block;height:235px;}
/*图片轮播*/
.news_pic li { overflow: hidden; padding: 17px 0 8px 0; border-bottom:1px solid #e5e5e5;}
.news_pic li span {width: 43px;/* border-right:1px solid #0395e2; */float: left;}
.news_pic li p { color: #0395e2; }
.news_pic li p.day { font-family: BookAntiqua; font-size: 24px; }
.news_pic li p.month { font-family: "微软雅黑"; font-family: 14px; }
.news_pic li a { margin: 0 0 0 65px; display: block; font-size: 14px; height: 40px; overflow: hidden;}



.news_list li { overflow: hidden; padding: 17px 0 12px 0; border-bottom: #e5e5e5;}
.news_list li span {width: 50px;/* height: 42px; */float: left;/* background: #e8eaeb; *//* border:1px solid #e5e5e5; */}
.news_list li p { color: #0395e2; }
.news_list li p.day { width: 48px; font-size: 12px; height: 20px; line-height: 20px; width: 100%; background: #0395e2; color: #ffffff; text-align: center; }
.news_list li p.month { font-family: Arial; font-family: 14px; color: #333333; height: 20px; line-height: 20px; text-align: center;}
.news_list li a { margin: 0 0 0 65px; display: block; font-size: 14px; height: 40px; overflow: hidden;}





.notice_list li { overflow: hidden; padding: 17px 0 16px 0; border-bottom: #e5e5e5;}
.notice_list li span { color: #0395e2; font-size: 18px; font-family: Arial; width: 57px; float: left;  }
/*.notice_list li p { padding: 0 0 0 19px; font-size: 14px; color: #999999; background: url(../images/address_03.png) no-repeat 5px center;}*/
.notice_list li a {display: block;font-size: 14px;height: 40px;overflow: hidden;/* line-height: 25px; */}
.notice_list li .notice_right {margin: 0 0 0 57px;display: block;font-size: 14px;/* height: 40px; */overflow: hidden;}
/*.notice_list li .notice_right a { height: 20px; overflow: hidden; }*/



/*通知*/
.notice{width:28.57142857142857%;float:right;overflow:hidden;}



.mode02 { width: 100%; height: 55px; line-height: 55px; background: #f1f1f1; }
.friendLink { max-width: 1100px; margin: 0 auto; }
.friendLink h2 { width: auto; float: left;padding: 0px 20px; background: #0395e2; color: #ffffff; font-size: 16px; font-weight: normal; }
.friendLink ul { overflow: hidden; float: left; margin: 0 0 0 30px;}
.friendLink ul li { float: left; margin: 0 40px 0 0; }
.friendLink ul li a { font-size: 14px; color: #5f5f5f; }
.friendLink ul li a:hover { color: #023a84; }








@media screen  and (max-width:1100px) {
 .channel{position:static;padding-top:-3px;clear:both;}
 .slide_tabs{right:5px;bottom:15px;}
 .mode01,.mode02{width:97.5%;margin:0 auto;}
 .news{width:100%;}
 .notice{width:100%;}
 .notice_list li{width:48%; margin: 0 1% 0 0; float: left;}
 .friendLink ul { margin: 0 0 0 133px;  float: none; width: auto;}
  .friendLink ul li { width: 15%; margin: 0; }
 }

@media screen  and (max-width:800px) {
  .flex-control-nav{bottom:44px;}
  .news_list{margin-left:380px;}
 .friendLink h2 { width: auto; float: none; }
 .mode02 { height: auto; }
 .friendLink ul { margin: 0 0 0 20px; padding: 10px; }
 .friendLink ul li { width: 30%; line-height: 30px;}
}




@media screen and (max-width:600px) {
  .news_pic{float: none; width: 100%;}
  .news_list{width:100%; float: none; margin: 0px;}
  .mode01,.mode02{width:96%;margin:0 auto 20px;}
  .notice_list li { width: 100%; float: none; }

}
@media screen and (max-width:480px) {
 .title01 h2{font-size:18px;width:88px;padding-left:39px;}
 .carInfo li a{font-size:1.1em;}
 .mode02 .title01 h2{width:104px;}
 .friendLink ul li { width: 50%; }
}

@media screen /*and (min-width:320px)*/ and (max-width:360px) {
  .carInfo .talk{width:48%;}
  .carInfo .bbs{width:48%;}
}
