html,body{
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
@media (min-width: 600px) {
  html{
    font-size: 200px !important;
  }
}
.main{
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../images/cnu_bg.jpg) no-repeat center center/cover;
}

.header{
  height: 0.375rem;
  background-color: #1D4D90;
  padding-left: 0.4rem;
  padding-right: 0.35rem;
  padding-top: 10px;
}
.logo{
  width: 0.75rem;
  height: 100%;
  background: url(https://ldxx.cnu.edu.cn/img/logo2.png) no-repeat left center/100% auto;
}
.title{
  height: 0.15rem;
  line-height: 0.15rem;
  font-size: 0.10rem;
  margin-top: 0.11rem;
  font-weight: 400;
  border-left: 1px solid #999;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 0.12rem;
  margin-left: 0.12rem;
}
.language{
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.07rem;
  line-height: 0.375rem;
}

.login{
  position: absolute;
  top: 50%;
  right: 0.35rem;
  transform: translate(0,-50%);
  width: 307px;
  /*height: 430px;*/
  //
  width: 1.5rem;
  //
  height: 2.2rem;
  background-color: #fff;
  border-radius: 0.03rem;
  padding:  0.1rem;
  z-index: 1;
}
.tab{
  width: 100%;
  height: 0.2rem;
  display: flex;
  position: absolute;
  top: -1px;
  left: 0;
  border-radius: 0.03rem 0.03rem 0 0;
  overflow: hidden;
}
.tab_item{
  flex: 1;
  width: 50%;
  line-height: 0.2rem;
  font-size: 0.08rem;
  text-align: center;
  color: #9A9A9A;
  background-color: #D9D9D9;
  cursor: pointer;
}
.tab_item.active{
  background-color: #1D4C90;
  color: #fff;
}
.login_title{
  line-height: 0.34rem;
  font-size: 0.08rem;
  text-align: center;
  color: #333;
  font-weight: 700;
}
.login_ipt{
  font-size: 0.06rem;
  width: 100%;
  height: 0.16rem;
  line-height: 0.15rem;
  border:1px solid #D9D9D9;
  border-radius: 0.02rem;
  padding-left: 0.05rem;
  outline:none;
  margin-bottom: 0.1rem;
}
.login_ipt:focus{
  border:1px solid #b9b9b9;
}
.login_ipt.user{
  padding-left: 0.15rem;
  background: url(https://ldxx.cnu.edu.cn/img/account.png) no-repeat 0.03rem center/auto 60%;
}
.login_ipt.pw{
  padding-left: 0.15rem;
  background: url(https://ldxx.cnu.edu.cn/img/pw.png) no-repeat 0.03rem center/auto 60%;
}
.login_ipt.code{
  padding-left: 0.15rem;
  width: 50%;
  background: url(https://ldxx.cnu.edu.cn/img/pw.png) no-repeat 0.03rem center/auto 60%;
}
.ipt_code{
  overflow: hidden;
}
.verify{
  border-radius: 0.02rem;
  width: 0.6rem;
  height: 0.16rem;
  cursor: pointer;
}
.verify img{
  border-radius: 0.02rem;
  width: 0.6rem;
  height: 0.16rem;
}
.ipt_err{
  height: 0.15rem;
  font-size: 0.05rem;
  color: #F5232E;
  text-align: center;
}
.login_btn{
  height: 0.16rem;
  line-height: 0.16rem;
  background-color: #1D4C90;
  border-radius: 0.025rem;
  margin-bottom: 0.05rem;
  text-align: center;
  color: #fff;
  font-size: 0.07rem;
  cursor: pointer;
}
.point{
  cursor: pointer;
  color: #1D4C90;
  font-size: 0.06rem;
}
.no_account{
  height: 0.15rem;
  line-height: 0.15rem;
  font-weight: 400;
}
.no_account .fr{
  font-size: 0.06rem;
}
.person{
  position: absolute;
  left: 0.1rem;
  font-weight: 400;
  bottom: 0.12rem;
}
.qr_img{
  text-align: center;
  height: 1.2rem;
}
.qr_img img{
  width: 1rem;
  height: 1rem;
}
.txt3{
  color: #7F7F7F;
  font-size: 0.06rem;
  line-height: 0.1rem;
  text-align: center;
}


.login_con { font-size: 14px; color: #666; line-height: 30px;}
.login input { background: #1D4D90; color: #fff; height: 30px; line-height: 30px; text-align: center; border: 0px; width: 100%;margin: 10px auto; border-radius: 20px; }
.login h3 { height: 50px; line-height: 50px; background: #1D4D90; color: #fff; text-align: center; font-size: 20px; margin: 0 0 10px 0; }

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  display: flex;
  justify-content: center;
  z-index: 1;
  background-color: #fff;
}
.info{
  color: #A8A8A8;
  font-size: 0.06rem;
  line-height: 0.15rem;
  margin-right: 0.25rem;
}
.info:last-child{
  margin-right: 0;
}