
/* CSS Document */
body{margin:0; padding:0; font-size:14px; background-color:#fff;}
a{text-decoration:none; color:#666666;}
a:hover{ color:#1935b3;}

/*头部*/
.header{ width:100%; height:198px; margin:0 auto; background: #294cc1; }
.top{width:1200px; height:149px; margin:0 auto; }
.logo{ width:874px;height:75px; position:relative; padding: 36px 0 0 0; float: left;}
.logo_link{width:874px;height:75px; display:block;}
.logo img{ width:874px;height:75px; }
.ser { width: 36px; height: 36px; float: right; margin: 56px 0 0 0; }
.search{width:260px; height:36px;position:absolute;right:50%; margin-right:-600px;top:100px;background:url(https://io-hkmt.cnu.edu.cn/images/search.jpg) no-repeat left center; z-index:1000; display:none; }
.search input{position:absolute; width:212px;height:36px;line-height:36px; color:#323232; border:none; background:none; left:0px; top:0px;  padding:0px; margin:0px;}
.search input.notxt{color:#3f3f3c; padding-left:12px;}	
.search input.notxt1 {position:absolute;width:37px;height:36px;left:224px;}

.nav{ width:100%;height:50px; line-height:50px;background:#2141a3;}
.nav ul{ width:1200px; margin:0px auto;}
.nav ul li{float:left;  font-size:16px; height:50px;line-height:50px; padding:0px 44px; background: url(https://io-hkmt.cnu.edu.cn/images/nav_li_07.png) no-repeat left center; }
.nav ul li:first-child{ background: none;}
.nav ul li a{color:#ffffff; font-size: 16px;}
.nav ul li a:hover,.nav ul li.on a { color: #1935b3; }
.nav ul li .subNav{ top:50px; padding:10px; width:134px;}
.nav ul li.on { background: #ffffff; }
.nav ul li.on .subNav dl dd { height:auto; line-height:20px; padding:3px 10px 3px 20px; }
.nav ul li.on .subNav dl dd{ color:#1935b3;}
.nav ul li.on .subNav dl dd a { padding:0px; }
.nav ul li .subNav a:hover{color:#1935b3;}

.content{ width:1200px; margin:0px auto; background:#fff; overflow:hidden;}
.Banner{width:882px; height:360px;  }

/*图片轮播*/
.flex-control-paging li a { width: 14px; height: 14px; background: #ffffff; border-radius: 0px; }
.flex-control-paging li a:hover,.flex-control-paging li a.flex-active { background: #c75c3c;}
.flex-control-nav { bottom: 15px; }
.flexslider ul.slides li img{ width:882px; height:360px;}

.mode01{width:1200px; overflow:hidden; clear:both; height:890px; margin-top:10px; margin-bottom: 40px;}
.mode01 .lf{ width:882px; height:890px; margin-right:30px; float:left; }
.mode01 .rt{ width:280px; height:890px; float:right}

.articleList01 .listTitle { height: 46px; line-height: 46px; background: #c8dcfa; text-align: center; }
.articleList01 .listTitle h2 { padding: 0px; height: 46px; line-height: 46px; font-size: 18px; }
.articleList01 ul { padding: 10px 0 245px 15px; border: 2px solid #e5e5e5; border-top:0px; }
.articleList01 ul li { height: 53px; line-height: 53px; padding: 0 0 0 28px; background: url(https://io-hkmt.cnu.edu.cn/images/link.png) no-repeat left center; }


.nest02 { overflow: hidden; margin: 12px 0 0 0; }
.news { width: 420px; float: left; }
.news .title {height: 37px; line-height: 37px; border-bottom: 2px solid #dddddd; }
.news .title h2 {font-size: 18px; color: #333333; width: auto; float: left; border-bottom: 4px solid #233bb7; }
.news .title a { float: right; padding: 0 0 0 13px; background: url(https://io-hkmt.cnu.edu.cn/images/more_07.jpg) no-repeat left center; color: #233bb7; }
.news ul { margin: 5px 0 0 0; }
.news ul li { border-bottom: 1px dashed #e5e5e5; height: 36px; line-height: 36px; padding: 10px 0 0 0; }
.news ul li a { float: left; }
.news ul li span { float: right; font-size: 13px; color: #999999; }
.notice { width: 420px; float: right; }
.notice .title {height: 37px; line-height: 37px; border-bottom: 2px solid #dddddd; }
.notice .title h2 {font-size: 18px; color: #333333; width: auto; float: left; border-bottom: 4px solid #233bb7; }
.notice .title a { float: right; padding: 0 0 0 13px; background: url(https://io-hkmt.cnu.edu.cn/images/more_07.jpg) no-repeat left center; color: #233bb7; }

.notice ul { margin: 5px 0 0 0; }
.notice ul li { border-bottom: 1px dashed #e5e5e5; height: 36px; line-height: 36px; padding: 10px 0 0 0; }
.notice ul li a { margin: 0 0 0 10px; }
.notice ul li span {width: 46px; height: 20px; line-height: 20px; text-align: center; color: #233bb7; border: 2px solid #b6bfe8; display: inline-block;  font-size: 13px;  }


/*底部开始*/
.footer{height:117px; background-color:#1935b3;color:#fff; border-top: 3px solid #2b4cab;}
.footerIn{width:1200px; margin:0 auto;text-align:center; padding-top:20px; line-height:30px; font-family:"微软雅黑";}
.footer_left { float: left; }
.footer_middle { float: left; margin: 0 120px 0 128px; }
.footer_right { float: right; }
.footer_right img { float: left; }
.footer_right span {line-height: 20px; display: block; font-size: 14px; text-align: center; padding: 40px 0 0 0; margin: 0px 0 0 98px; }

/*二级页*/
.subPage{ width:1200px; margin:0px auto;}
.pageBanner{width:1200px;/* height: 300px; */margin: 0 0 20px 0;}
.Bread{ float: right; margin:0 18px 0 0; width:auto;height:58px; line-height:58px;  font-size:13px; color:#999999;  }
.Bread a{color:#999999;}
.articleList2{ color: #294cc0; }
.articleList2 ul li{padding: 0 0 0 40px; height: 59px; line-height: 59px; background: url(https://io-hkmt.cnu.edu.cn/images/list.png) no-repeat left center;  border-bottom: 1px solid #e6e6e6;}
.articleList2 ul li span { font-size: 14px; color: #999999; }
.listTitle2{ height: 58px; line-height: 58px; padding-left:0px; background:#f2f2f2; border-bottom: 2px solid #e6e6e6;} 
.listTitle2 h2{width: auto; float: left; padding: 0 0 0 20px; color: #333333; font-size: 18px; font-weight: bold; height: 58px; line-height: 58px; }
.subPage .articleList2{ margin:10px 0px 20px;}
 
.page{ width:100%; height:30px; line-height:30px; text-align:center; margin:0 auto;font-size:12px;clear:both; margin:45px 0px 30px;}
.page a{ margin: 0 10px; font-size: 16px; width: 21px; height: 21px; line-height: 21px; display: inline-block; padding: 0px; color: #666666;}
.page a.current { background: #294cc0; color: #ffffff; border-radius: 50%; }
.page a:hover{ background: #294cc0; color: #ffffff; border-radius: 50%; }
.page a.no { width: auto; }
.page a.no:hover{ background: none; color: #294cc0; }

.pageList{ padding-bottom: 30px; }
/*.pageList .articleList{min-height:400px;}*/
.pageArticle { margin: 20px 0 0 0;min-height:400px; }
.articleTitle { width: 100%;text-align: center;}
.articleTitle h2{font-size: 18px; color:#1935b3; line-height: 20px; padding:10px 0;}
.articleTitle h3{ font-size: 14px; color: #555; line-height: 20px; padding:10px 0; font-weight: bold;}
.articleAuthor { height: 30px;text-align: center; line-height: 30px; margin: 10px;background: #f5f5f5; color:#777; }
.article{overflow:hidden; margin:20px 10px;  line-height:25px;}
.Annex {padding:0px; overflow:hidden; margin-bottom:30px;}
.Annex h3 { font-size: 16px;line-height: 30px; color:#1935b3; padding-left:5px;}
.Annex ul li { height: 26px; line-height: 26px; padding-left: 6px;}
.Annex ul li a { font-size: 12px; line-height: 24px; color:#656464;}
.Annex ul li a:hover{ color:#1935b3;}



/*通栏图片页开始*/
.pictureList_tl2 ul {  width:1300px; overflow:hidden; margin: 20px 0 0 0; }
.pictureList_tl2 ul li { width:200px; height:165px; float: left; text-align:center; margin:0 50px 0 0;}
.pictureList_tl2 ul li img { width: 200px; height: 140px; display:block; }
.pictureList_tl2 ul li p { height:20px; line-height:20px; }
/*通栏图片页结束*/

/*二级页左右分栏开始*/
.con { width:1200px; height:auto; overflow:hidden;min-height: 400px;}

.con .con_left { width: 240px; float: left;border:1px solid #294cc0;  }
.con .con_left .left_title { height:60px; line-height:60px; background:#294cc0; }
.con .con_left .left_title h2 { text-align: center; }
.con .con_left .left_title h2 a { font-size:20px; font-family:"微软雅黑"; color:#ffffff; font-weight:bold; }
.con .con_left ul li.current a{background: #c8dcfa; color: #2141a3;  }
.con .con_left ul li a { padding:15px 20px 15px 30px; display: block; border-top:1px solid #bfbfbf; font-size: 16px; color: #666666; font-weight: bold; }
.con .con_left ul li:first-child { border-top:0px; }
.con .con_left ul li a:hover { background: #c8dcfa; color: #2141a3; }
.con .con_right { width:930px; height:auto; float: right; }
.pictureList ul { width:970px; overflow:hidden; margin: 20px 0 0 0; }
.pictureList ul li { width:200px; height:165px; float: left; text-align:center; margin:0 42px 0 0; }
.pictureList ul li img { width: 200px; height: 140px; display:block; }
.pictureList ul li p { height:20px; line-height:20px; }
/*二级页左右分栏结束*/


