
/* CSS Document */
body{margin:0; padding:0; font-size:12px; background-color:#fff;min-width: 1200px;margin:0 auto;}
a{text-decoration:none; color:#333;}
a:hover{ color:#0159a3;}

/*头部*/
.header{ width:100%; height:186px; margin:0 auto;background: url(https://bwc.cnu.edu.cn/images/sub_bg_01.png) no-repeat center top;}
.top{width:1200px; height:107px; margin:0 auto; }
.logo{ width:900px;height:107px;margin:0 auto;position:relative;float: left;}
.logo_link01{float: left;margin-top: 10px;margin-right: 20px;}
.logo_link02{float: left;margin-top:30px;}
.logo img{display: block;}
.top_right{float: right;}
.top_right li{ float: left;margin-top:14px;margin-left:20px;}
.top_right li a{color:#1f3a71;}
.top_right li a.home{display: inline-block;padding-top:5px;}
.search{width:205px; height:25px;position:absolute;right: 44%;    margin-right: -505px;    bottom: 98px;background:url(https://bwc.cnu.edu.cn/images/search.png) no-repeat left center; z-index:1000; }
.search input{position:absolute; width:162px;height:25px;line-height:25px; color:#323232; border:none; background:none; left:0px; top:0px;  padding:0px; margin:0px;}
.search input.notxt{color:#3f3f3c; padding-left:10px;}	
.search input.notxt1 {position:absolute;    width: 31px;    height: 25px;    left: 174px;}

.nav{ width:100%;height:79px; line-height:79px;background-color:#0159a3;background: url(https://bwc.cnu.edu.cn/images/nav_bg.png) repeat-x;}
.nav ul{ width:1200px; margin:0px auto;}
.nav ul li{float:left;color:#0159a3; font-size:16px; height:66px;line-height:66px; }
.nav ul li a{color:#fff;display: block;padding:0px 23px;font-weight: normal; font-size: 16px;background: url(https://bwc.cnu.edu.cn/images/nav_a.png) no-repeat center bottom;}
.nav ul li a:hover,.nav ul li.on a{background: url(https://bwc.cnu.edu.cn/images/nav_a_hover.png) no-repeat center bottom;}
/*.nav ul li .subNav{ top:79px; padding:10px 0; width:150px;}
.nav ul li.on .subNav dl dd { height:auto; line-height:20px;}
.nav ul li.on .subNav dl dd{ color:#0159a3;}
.nav ul li.on .subNav dl dd a {background: #fff; padding:0px; color:#0159a3; padding:3px 10px 3px 10px; display: block;text-align: left;}
*/
.content{ width:100%; margin:0 auto ;padding:70px 0 40px;  overflow:hidden;background: url(https://bwc.cnu.edu.cn/images/bg.png) no-repeat center top;}
.wrap_banner{width: 100%;margin:0 auto;background: #ededed;overflow: hidden;}
.Banner{width:680px; height:473px; margin:0 auto;box-shadow: 0 1px 2px #333;}

/*图片轮播*/
.flex-control-nav{text-align: center;bottom:16px;}
.flex-control-nav li{margin:0 5px;}
.flex-control-paging li a{background: #fff;border-radius:12px;width: 12px;height:12px;text-indent: 9999px;}
.flex-control-paging li a:hover,.flex-control-paging li a.flex-active { background: #ef7538;}
.flexslider ul.slides li img{ min-width:680px; height:auto;}
.til_slides{position: absolute;bottom: 50px;left:130px;background: url(https://bwc.cnu.edu.cn/images/banner_bg.png) repeat;color:#fff;font-size: 20px;}
.til_slides i{padding:8px 10px;display: block;font-style: normal;}
.flex-direction-nav .flex-prev { left: 20px; background-position:0 0; }
.flex-direction-nav .flex-next { right: 20px; background-position:-132px 0;}
/*content*/
.mode01{overflow: hidden;width: 1200px;margin: 30px auto 0px;}
.mode01 .lf{width: 315px;height:513px;float: left;overflow: hidden;margin-right:30px;}
.mode01 .md{width: 680px;height:473px;float: left;overflow: hidden;margin-top:40px;}
.mode01 .rt{width: 150px;height:473px;float: right;overflow: hidden;margin-top:40px;}
.articleList ul li{height: auto;line-height: 24px;padding-left:0;position: relative;}
.title{width: 120px;height:40px; background: #008bff;}
.title h2{text-align: center;color:#fff;font-size: 18px;height:40px;line-height: 40px;}
.newsList01{background: url(https://bwc.cnu.edu.cn/images/news_bg.png) repeat;padding:30px 15px;height:400px;}
.newsList01 li{border-bottom:2px solid #3e67bd;margin-bottom: 14px;padding-bottom: 14px;overflow: hidden;}
.newsList01 li a{color:#fff;float: right;width: 220px;}
.newsList01 li a:hover{color:#008bff;}
.more{float: right;margin-right:30px;margin-top:-18px;}
.more a{display: block;padding:5px 12px;background: #ef7538;color:#fff;font-size: 16px;}
.more a:hover{background: #008bff;}
.articleList ul li span.leftDate{float: left;color:#adc9ff;font-size: 18px;margin-top:12px;}

.phoneList{background:url(https://bwc.cnu.edu.cn/images/phone_bg.png) repeat;height:152px;padding:20px 20px;}
.phoneList span{display: block;font-size: 16px;color:#fff;margin-bottom: 10px;}
.downLoad{background: url(https://bwc.cnu.edu.cn/images/down.png) repeat;text-align: center;height:61px;line-height: 61px;margin:10px 0;}
.downLoad span{color:#fff;font-size: 16px;}
.downLoad span a{color:#fff;display: block;}

.code2D{font-size: 16px;color:#fff; text-align: center;background: url(https://bwc.cnu.edu.cn/images/code_bg.png) repeat;height:200px;}
.code2D img{background: #fff;padding:8px;margin-top:20px;}
.code2D p{margin-top:10px;}

/*底部开始*/
.footer{background: url(https://bwc.cnu.edu.cn/images/footer_bg.png) repeat;width: 100%;margin:0 auto;}
.copyRight{width: 1200px;margin:0 auto;color:#fff;text-align: center;padding:45px 0;line-height: 26px;font-size: 14px; position: relative;}
.erweima{position: absolute; right: 0; top: 12px;}
.erweima img{ width: 155px; }

/*二级页*/
.subPage{ width:1200px; margin:30px auto 0;}
.pageBanner{ width:1200px;margin-bottom: 20px;}
.Bread{width:auto;height:39px; line-height:39px;border-bottom:2px solid #0159a3; font-size:13px; color:#0159a3; margin-top:5px;}
.Bread a{color:#0159a3;}
.articleList2 ul{width: 100%;}
.articleList2 ul li{height:38px; line-height:38px; border-bottom: 1px dashed #ddd;width: 100%;float: none;}
.articleList2 ul li a{padding-left:15px; background: url(https://bwc.cnu.edu.cn/images/list_lig.png) no-repeat left center;font-size: 14px;}
.listTitle2{ padding-left:0px; background:none;height:50px;line-height: 50px;} 
.listTitle2 h2{color: #0159a3; font-size: 16px; font-weight: bold; height:50px; line-height:50px; padding:0px;}
.subPage .articleList2{ margin:10px 0px 20px;}
 
.page{ width:100%; height:30px; line-height:30px; text-align:center; margin:0 auto;font-size:12px;clear:both; margin:20px 0px 30px;}
.page a{ padding:0 5px;}

.pageList{ padding-bottom: 30px; overflow: hidden;}
.articleTitle { width: 100%;text-align: center;}
.articleTitle h2{font-size: 18px; color:#0159a3; line-height: 20px; padding:20px 0 10px 0;}
.articleTitle h3{ font-size: 16px; color: #555; line-height: 20px; padding:10px 0; font-weight: bold;}
.articleAuthor { height: 30px;text-align: center; line-height: 30px; margin: 10px;border-bottom:1px solid #ddd;border-top:1px solid #ddd;  color:#777; }
.article{overflow:hidden; margin:20px 10px;font-size:15px; line-height:34px;}
.Annex {padding:0px; overflow:hidden; margin-bottom:30px;}
.Annex h3 { font-size: 16px;line-height: 30px; color:#0159a3; padding-left:5px;}
.Annex ul li { height: 26px; line-height: 26px;background:url(https://bwc.cnu.edu.cn/images/list_lig.png) no-repeat 10px center; padding-left: 28px;}
.Annex ul li a { font-size: 12px; line-height: 24px; color:#656464;}
.Annex ul li a:hover{ color:#0159a3;}



/*通栏图片页开始*/
.pictureList_tl2 ul {  width:1200px; overflow:hidden; }
.pictureList_tl2 ul li { width:255px; height:210px; float: left; text-align:center; margin:0 22px;}
.pictureList_tl2 ul li img { display:block; }
.pictureList_tl2 ul li p { height:30px; line-height:30px; font-size: 14px;}
/*通栏图片页结束*/

/*二级页左右分栏开始*/
.con { width:1200px; height:auto; overflow:hidden; }
.con .con_left { width: 256px; float: left;border:1px solid #e3e3e3; border-bottom:none; margin:5px 0 0 0; }
.con .con_left .left_title { height:39px; line-height:39px; background:#0159a3; }
.con .con_left .left_title h2 { padding:0 0 0 20px; }
.con .con_left .left_title h2 a { font-size:16px; font-family:"微软雅黑"; color:#fff; font-weight:bold; }
.con .con_left ul li {  }
.con .con_left ul li a {  padding:10px 20px 10px 20px; display: block; border-bottom:1px solid #e3e3e3; }
.con .con_left ul li a:hover { border-bottom: 3px solid #0159a3; }
.con .con_right { width:905px; height:auto; float: right; }
.pictureList ul { width:905px; overflow:hidden; }
.pictureList ul li { width:255px; height:206px; float: left; text-align:center;margin:0 23px; }
.pictureList ul li img {display:block; }
.pictureList ul li p { height:30px; line-height:30px;font-size: 14px; }

/*二级页左右分栏结束*/


